<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.migamecenrtersdkdemo.online"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 91社区 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- 360 -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.example.splus_demo.LoginGameActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.splus_demo.Api_GameActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- splus-activity配置 -->

        <activity
            android:name="com.android.splus.sdk.ui.UpdateActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.android.splus.sdk.ui.DownLoadActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.android.splus.sdk.ui.RechargeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.android.splus.sdk.ui.RechargeSelectActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.android.splus.sdk.ui.PersonActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.android.splus.sdk.ui.RechargeResultActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 91-activity配置 -->
        <activity
            android:name="com.nd.commplatform.activity.SNSControlCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.nd.commplatform.activity.SNSLoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.nd.commplatform.gc.activity.ForumActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />

        <service
            android:name="com.nd.commplatform.service.NdDownloadService"
            android:enabled="true"
            android:exported="false"
            android:process=":com.nd.commplatform.download" />

        <receiver
            android:name="com.nd.commplatform.versionupdate.ND2VersionUpdateNotify"
            android:exported="false"
            android:process="android.intent.nd.sns.commplatform.versionupdate" />

        <service
            android:name="com.nd.commplatform.versionupdate.ND2VersionUpdateService"
            android:exported="false"
            android:process="android.intent.nd.sns.commplatform.versionupdate" />
        <service
            android:name="com.nd.commplatform.service.NdNewMessageNotification"
            android:enabled="true"
            android:exported="false" />
        <!-- 360 -->
        <!-- 添加360SDK必需的activity：com.qihoopay.insdk.activity.ContainerActivity -->
        <activity
            android:name="com.qihoopay.insdk.activity.ContainerActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.qihoopp.qcoinpay.QcoinActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>

        <!-- 添加360SDK必需的meta-data：QHOPENSDK_APPID。 -->
        <!-- 此处不要使用@string引用，上传APK时服务器要从这里读取值。读取失败会影响统计和结算，务必填写正确。 -->
        <meta-data
            android:name="QHOPENSDK_APPID"
            android:value="102094835" >
        </meta-data>

        <!-- 添加360SDK必需的meta-data：QHOPENSDK_APPKEY。此处value为app_key。请在360应用开放平台http://open.app.360.cn/?from=open_dt注册申请app_key和app_secret -->
        <!-- 此处不要使用@string引用，上传APK时服务器要从这里读取值。读取失败会影响统计和结算，务必填写正确。 -->
        <meta-data
            android:name="QHOPENSDK_APPKEY"
            android:value="8689e00460eabb1e66277eb4232fde6f" >
        </meta-data>

        <!-- 添加360SDK必需的meta-data：QHOPENSDK_PRIVATEKEY。此处value为private_key，其生成算法为md5(app_secret +”#”+ app_key)，全小写，详细算法请看开发文档附录。 -->
        <!-- 此处不要使用@string引用，上传APK时服务器要从这里读取值 。读取失败会影响统计和结算，务必填写正确。 -->
        <meta-data
            android:name="QHOPENSDK_PRIVATEKEY"
            android:value="4e04fe9ac8e2a73cbb27ba52ac076eb9" >
        </meta-data>

        <!-- 添加360SDK必需的meta-data：QHOPENSDK_CHANNEL。此处value通常为default，如需修改请联系我们，并以字母开头，不支持纯数字，不支持中文等全角字符，用于标识应用方的子渠道。 -->
        <!-- 此处不要使用@string引用，上传APK时服务器要从这里读取值。读取失败会影响统计和结算，务必填写正确。 -->
        <meta-data
            android:name="QHOPENSDK_CHANNEL"
            android:value="default" >
        </meta-data>

        <!-- uc -->
        <!-- 新版本需使用新的SdkActivity -->
        <activity
            android:name="cn.uc.gamesdk.SdkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="cn.uc.gamesdk.sdkweb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- dcn -->
        <activity
            android:name="com.downjoy.activity.SdkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/dcn_Activity_Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service android:name="com.downjoy.service.PollingService" >
            <intent-filter>
                <action android:name="action.downjoy.polling.service" />
            </intent-filter>
        </service>
    </application>

</manifest>